body {
  background-image: url("https://sm.mashable.com/mashable_in/photo/default/nasa-galaxy_9pu4.jpg");
   
}


#main-div{
    text-align: center;
    height: auto;
    color: white;
    margin-left: 25%;
  margin-right: 25%;
  font-family: Century Gothic, sans-serif;
}

.header{
    font-size: large;
   height: 10px;
    padding: 60px;
  text-align: center;
  background: #105bd8;
  color: white;
  font-size: 30px;
  font-family: Century Gothic, sans-serif;
}

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}



#div2 {
    visibility: hidden;
    margin: auto;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
    color: white;
}

#div3 {
    text-align: center;
    font-size: 30px;
    border: black;
    size: 25px;
    color: white;
    visibility: hidden;
}

#div4 {
    text-align: center;
    font-size: 35px;
    visibility: hidden;
    color: white;
}

